{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
  <style type="text/css">
   .form{
       display: flex;
       height: 95vh;
       justify-content: center;
       align-items: center;
   }
   .form form{
        display: flex;
        flex-direction: column;
   }
   .form form input{
        margin: 10px 0 8px 0;
   }
   .form form button{
        color: #fff;
        margin-top: 20px;
        border: none;
        text-decoration: none;
        user-select: none;
        background: rgb(210,73,54);
        padding: .7em 1.5em;
        outline: none;
   }
  </style>
{% endblock %}

{% block body %}
<div class="form">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Вы вошли как {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h3 class="h3 mb-3 font-weight-normal">Авторизируйтесь</h3>
    <label for="inputUsername">Имя пользователя</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">Пароль</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
</div>
{% endblock %}
